<div class="container">
	<div class="row">
		<div class="col-md-3">
		</div>
		<div class="col-md-6 footer">
			<ol class="breadcrumb">
				<li><p> Created by Przemek</p></li>
				<li><%= link_to "Home", root_path %></li>
				<li><%= link_to "Wszystkie Książki", products_path %></li>
				<li><%= link_to "Kontakt", contact_path %></li>
				<li><%= link_to "Pomoc", help_path %></li>
			</ol>
		</div>
	</div>
</div>
